.auth {
    margin: 3rem auto;
    width: 95%;
    max-width: 25rem;
    border-radius: 15px;
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(0, 0, 0, 0.2);
    transition: all .3s;
    padding: 40px 55px 45px 55px;
    text-align: center;
}

.auth h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
    font-size: xx-large;
}

.form{
    margin-top: 2rem;
}

.control input {
    font: inherit;
    background-color: #f1e1fc;
    border-radius: 4px;
    border: 1px solid white;
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.actions {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions button {
    cursor: pointer;
    font: inherit;
    color: white;
    background-color: rgb(100, 10, 10);
    border: 1px solid rgb(100, 10, 10);
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
    width: 90%;
    margin-bottom: 1rem;
}

.actions button:hover {
    background-color: rgb(160, 18, 18);
    border-color: rgb(160, 18, 18);
}

.actions .toggle {
    background-color: transparent;
    color: rgb(100, 10, 10);
    border: none;
}

.actions .toggle:hover {
    background-color: transparent;
    color: rgb(160, 18, 18);
}


@media (max-width: 450px) {
    .auth{
        width: 90%;
        margin: 5rem auto;
        padding: 20px 30px 20px 30px;
    }
}