.Post {
    width: 80%;
    height: 8rem;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    border-radius: 20px;
}

.Post span {
    margin-right: 20px;
}

.action {
    float:right;
}

.button {
    font: inherit;
    cursor: pointer;
    padding: 0.5rem 2rem;
    border-radius: 6px;
    background-color: transparent;
    color: rgb(160, 18, 18);
    border: 1px solid rgb(160, 18, 18);
}

button:hover, button:active {
    background-color: rgb(160, 18, 18);
    border-color: rgb(160, 18, 18);
    color: white;
}